# Cabal and GHC build artifacts
dist-newstyle/
dist/
*.o
*.hi
*.dyn_o
*.dyn_hi
*.p_o
*.p_hi
*.chi
*.chs.h

# Project-specific ignored folders (consultation only)
hosc-0.21.1/
hsc3-0.21/
hsc3-texts/
SuperDirt/
tidal-1.10.1/

# Emacs backup and temporary files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# OS specific files
.DS_Store
Thumbs.db

hsc3-tidal-emacs.ghci
loadme.ghci
el/
